source "testbench/cpu/Kconfig"
source "testbench/dma/Kconfig"
source "testbench/irq/Kconfig"
source "testbench/rtlfs/Kconfig"
source "testbench/timer/Kconfig"
source "testbench/i2c/Kconfig"
source "testbench/skull/Kconfig"
source "testbench/task/Kconfig"
source "testbench/wdt/Kconfig"
source "testbench/uart/Kconfig"
source "testbench/eth/Kconfig"
source "testbench/i2s/Kconfig"
source "testbench/vdec/Kconfig"
source "testbench/sdmmc/Kconfig"
source "testbench/sysm/Kconfig"
source "testbench/drd/Kconfig"
source "testbench/rtc/Kconfig"
source "testbench/spi/Kconfig"
source "testbench/xspi/Kconfig"
source "testbench/mu/Kconfig"
source "testbench/pwm/Kconfig"
source "testbench/pvt/Kconfig"
source "testbench/cae/Kconfig"
source "testbench/pufcc/Kconfig"
source "testbench/ddr/Kconfig"
source "testbench/rxa/Kconfig"
source "testbench/lpddr4/Kconfig"
source "testbench/ids/Kconfig"
source "testbench/npu/Kconfig"
source "testbench/dmic/Kconfig"
source "testbench/venc/Kconfig"
source "testbench/pmic/Kconfig"
source "testbench/fatfs/Kconfig"
source "testbench/dmic_pcm/Kconfig"
source "testbench/hwmon/Kconfig"
