CONFIG_RISCV=y
CONFIG_C920=y
CONFIG_MACHINE="c920"
CONFIG_COMPILE_RTL=y
CONFIG_NR_CPUS=8
CONFIG_TB_RUN_DDR=y
CONFIG_CACHE=y
CONFIG_DCACHE=y
CONFIG_ICACHE=y
CONFIG_L2CACHE=y
CONFIG_64BIT=y
CONFIG_COMPILE_DRV=y
CONFIG_DRV_SYSM=y
CONFIG_DRV_IRQCHIP=y
CONFIG_PLIC=y
CONFIG_COMPILE_LIB=y
CONFIG_LIB_COMMAND=y
CONFIG_LIB_MATH=y
CONFIG_LIB_SHELL=y
CONFIG_LIB_STDLIB=y
CONFIG_LIB_CONSOLE=y
CONFIG_LIB_CRYPTO=y
CONFIG_LIB_COMMON=y
CONFIG_LIB_INTERRUPT=y
CONFIG_LIB_RTLFS=y
CONFIG_RTLFS_LOCATION=0x120000000
CONFIG_LIB_RTL=y
CONFIG_COMPILE_ARCH=y
CONFIG_HW_MEMDEV=y
