source "lib/command/Kconfig"
source "lib/math/Kconfig"
source "lib/shell/Kconfig"
source "lib/stdlib/Kconfig"
source "lib/console/Kconfig"
source "lib/crypto/Kconfig"
source "lib/common/Kconfig"
source "lib/interrupt/Kconfig"
source "lib/fatfs/Kconfig"
source "lib/rtlfs/Kconfig"
source "lib/rtl/Kconfig"
source "lib/freertos/Kconfig"
source "lib/sbi/Kconfig"
