source "drivers/dma/Kconfig"
source "drivers/sysm/Kconfig"
source "drivers/irqchip/Kconfig"
source "drivers/timer/Kconfig"
source "drivers/i2c/Kconfig"
source "drivers/eeprom/Kconfig"
source "drivers/wdt/Kconfig"
source "drivers/uart/Kconfig"
source "drivers/eth/Kconfig"
source "drivers/i2s/Kconfig"
source "drivers/sdmmc/Kconfig"
source "drivers/drd/Kconfig"
source "drivers/rtc/Kconfig"
source "drivers/spi/Kconfig"
source "drivers/xspi/Kconfig"
source "drivers/spi_flash/Kconfig"
source "drivers/mu/Kconfig"
source "drivers/pwm/Kconfig"
source "drivers/pvt/Kconfig"
source "drivers/cae/Kconfig"
source "drivers/pufcc/Kconfig"
source "drivers/ddr/Kconfig"
source "drivers/rxa/Kconfig"
source "drivers/lpddr4/Kconfig"
source "drivers/vdec/Kconfig"
source "drivers/ids/Kconfig"
source "drivers/dmic/Kconfig"
source "drivers/venc/Kconfig"
source "drivers/pmic/Kconfig"
source "drivers/dmic_pcm/Kconfig"
source "drivers/hwmon/Kconfig"
